swagger: '2.0'
info:
  description: LPT APis
  version: 1.0.0
  title: LPT Frontend API's
basePath: /api/
tags:
  - name: Category
    description: Manage Category

paths:
  # /categories:
  #   get:
  #     tags:
  #       - Category
  #     summary: Manage Category
  #     description: 'Manage Category with this API'
  #     operationId: category
  #     consumes:
  #       - application/json
  #     produces:
  #       - application/json
  #     responses:
  #       '200':
  #         description: successful operation
  #       '400':
  #         description: Bad request
  /mobileUser/test_otpsms:
    get:
      tags:
        - TestSMS
      summary: SMS Testing
      description: 'Testing the sms '
      operationId: testsms
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request          
    # post:
    #   tags:
    #     - Category
    #   summary: Create Category
    #   description: 'Create Category with this API'
    #   operationId: createCategory
    #   consumes:
    #     - application/json
    #   produces:
    #     - application/json
    #   parameters:
    #     - in: query
    #       name: name
    #       type: string
    #       required: true  
    #   responses:
    #     '200':
    #       description: successful operation
    #     '400':
    #       description: Bad request
    #   security:
    #     - api_key: [] 
   
  /mobileUser/create:
    post:
      tags:
        - mobileUser/create
      summary: Create User
      description: 'Create User with this API'
      operationId: createUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain full_name,user_name,email and phone_no"
          schema:
            type: object
            properties:
              full_name:
                type: string
              user_name:
                type: string
              email:
                type: string
              phone_no:
                type: string  
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request

  /mobileUser/otp_verification:
    post:
      tags:
        - mobileUser/otp_verification
      summary: OTP Verification for the Registration 
      description: 'OTP Verification for the Registration'
      operationId: otpVerification
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              phone_no:
                type: string 
              otp:
                type: string    
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request   

  /mobileUser/mobilelogin:
    post:
      tags:
        - mobileUser/mobilelogin
      summary: App mobile user Login 
      description: 'App mobile user Login'
      operationId: Mobile_user_Login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              phone_no:
                type: string 
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/login_otp_verification:
    post:
      tags:
        - mobileUser/login_otp_verification
      summary: OTP Verification for the login 
      description: 'OTP Verification for the login'
      operationId: otpVerification
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              phone_no:
                type: string 
              otp:
                type: string    
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/check_username:
    post:
      tags:
        - mobileUser/check_username
      summary: check username is exist or not
      description: 'check username is exist or not'
      operationId: check_username
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain user_name"
          schema:
            type: object
            properties:
              user_name:
                type: string 
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/check_mobileno:
    post:
      tags:
        - mobileUser/check_mobileno
      summary: check mobileno is exist or not
      description: 'check mobileno is exist or not'
      operationId: check mobileno
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain mobileno"
          schema:
            type: object
            properties:
              phone_no:
                type: string    
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/check_email:
    post:
      tags:
        - mobileUser/check_email
      summary: check mobileno is exist or not
      description: 'check mobileno is exist or not'
      operationId: check_email
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              email:
                type: string    
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/resend_otpsms:
    post:
      tags:
        - mobileUser/resend_otpsms
      summary: resend otpsms Verification for the login 
      description: 'resend_otpsms verification for the login'
      operationId: otpVerifiresend_otpsmscation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              phone_no:
                type: string 
              otpfrom:
                type: string    
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/get_user_details:
    post:
      tags:
        - mobileUser/get_user_details
      summary: mobileUser get_user_details 
      description: 'mobileUser get_user_details'
      operationId: mobileUser get_user_details
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "The body will contain phone_no and otp"
          schema:
            type: object
            properties:
              uid:
                type: string  
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request  

  /mobileUser/get_user_followers:
    post:
      tags:
        - Get User Follower
      summary: Get User Follower uid and name are options as per the requirments
      description: 'Get User Follower with this API'
      operationId: category
      consumes:
        - application/json
      produces:
        - application/json 
      parameters:
        - uid: "body"
          name: "body"  
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request

  /mobileUser/get_trending_list:
    post:
      tags:
        - Trending List
      summary: Trending Category with this API hashtag is optional where hastag is not present render all tredent events active
      description: 'Trending Category with this API hashtag is optional where hastag is not present render all tredent events active'
      operationId: Trending
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - hashtag: "#hashtags"  
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad request         

securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
